Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  portability-*,
  modernize-*,
  -modernize-use-trailing-return-type
  -readability-magic-numbers,

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: none
UseColor: true
